<!-- footer.ejs -->

<div class="footer" id="footer">
  <div class="socials">
    <a href="https://www.instagram.com/sean_hahahaha/">
      <img class="social" src="/img/icons/ins.png" alt="instagram" />
    </a>
    <a href="https://www.linkedin.com/in/boyang-xiao-40b644225/">
      <img class="social" src="/img/icons/linkedin.png" alt="linkedin" />
    </a>
    <a href="https://github.com/SeanXiaoby">
      <img class="social" src="/img/icons/github.png" alt="github" />
    </a>
  </div>
  <h5>
    © 2023
    <a id="sitelink" href="https://github.com/SeanXiaoby"> Sean Xiao</a> All
    rights reserved
  </h5>
</div>
