<!-- header.ejs -->

<div class="navbar" id="navbar">
  <a href="/"><img id="logo" src="/img/logo.png" alt="logo" /></a>
  <div class="links">
    <a href="/"> Home </a>
    <a href="/dashboard.html#overview"> Dashboard </a>
    <a href="/players.html#players"> Players </a>
    <a href="/player/create.html"> Create </a>
    <a href="#footer"> About </a>
  </div>
</div>