<!-- views/layout.ejs -->
<!DOCTYPE html>
<html>

<head>
  <title>Player League Management System</title>
  <link rel="stylesheet" href="/css/site.css" />
  <script src="/js/site.js"></script>
</head>

<body>
  <%- include('partials/header.ejs') %> <%- body %> <%-
    include('partials/footer.ejs') %>
</body>

</html>