<!-- index.ejs -->

<div class="pageContent">
  <div class="hero" id="home-hero">
    <img id="title1" src="/img/title.png" alt="Title1" />
    <img id="title2" src="/img/title2.png" alt="Title2" />
  </div>


  <div class="intro-container">

    <div class="title" id="players">
      <h3 style="font-weight:600; text-transform: uppercase; font-style: italic;">Our services</h3>
      <div class="underline"></div>
    </div>


    <div class="intro-grid">
      <div class="intro-item">
        <div class="intro-img">
          <img src="/img/game1.svg" alt="1" />
        </div>
        <h2>Competition</h2>
        <h4>This video game is all about fierce competition, pitting players against each other in intense battles to claim victory and become the ultimate champion.</h4>

      </div>
      <div class="intro-item">
        <div class="intro-img">
          <img src="/img/game2.svg" alt="1" />
        </div>
        <h2>entertainment</h2>
        <h4>With its captivating storyline and engaging gameplay, this video game is an excellent source of entertainment for gamers of all levels and ages.</h4>

      </div>
      <div class="intro-item">
        <div class="intro-img">
          <img src="/img/game3.svg" alt="1" />
        </div>
        <h2>Efficiency</h2>
        <h4>Thanks to its streamlined mechanics and efficient design, this video game ensures that players can jump right into the action and start competing in no time.</h4>

      </div>
    </div>

  </div>

  <div class="feature-container">
    <div class="title" id="players">
      <h3 style="font-weight:600;">About us</h3>
      <div class="underline"></div>
    </div>

    <div class="feature-grid">
      <img class="feature-img" src="/img/feature1.jpg" alt="1" />
      <div class="feature-item">
        <h2>New Features</h2>
        <h4>"Player League" is the ultimate gaming experience for anyone who loves action-packed video games. With its cutting-edge player and match management system, this game is perfect for players who want to showcase their skills, creativity, and leadership abilities.
        </h4>
        <h4>
          As a player league manager, you have the power to create, customize, and manage your own league with a variety of games to choose from. Whether you prefer racing, combat, or strategy games, you can create your own rules, select your venue, and invite players to join your league. With real-time monitoring and control, you can ensure fair play and deal with any rule violations to keep the competition exciting and challenging.
        </h4>
      </div>


    </div>

  </div>

</div>